<a href="https://colab.research.google.com/github/LaviniBastos/Analise-Exploratoria-de-Dados/blob/main/Agrupamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Neste exercício o próposito é entender como podemos sumarizar dados, fazer um resumo para simplificar a massa de dados, alguns exemplos são: calcular média de uma coluna, ou a soma, dessa forma entendemos a situação geral de toda a coluna.

A situação é a seguinte: Queremos abrir um negócio, mais precisamente um restaurante, e queremos que o restaurante esteja na melhor combinação possível de caracteristicas para que ele tenha sucesso. Queremos abri-lo no Central Park. Como podemos saber qual culinária podemos adotar e que é mais interessante para essa região?

In [2]:
import numpy as np
import pandas as pd

In [11]:
cuisine_rating = pd.read_csv('/Cuisine_rating.csv')

In [13]:
cuisine_rating.head()

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
0,1,153,"Upper East Side,NY",Female,2006,Single,Professional,3,Japanese,Never,Never,5,4,4.5,No
1,2,123,"St. George,NY",Female,1991,Married,Student,3,Indian,Never,Socially,1,1,1.0,No
2,3,122,"Upper West Side,NY",Male,1977,Single,Student,5,Seafood,Often,Often,5,5,5.0,Yes
3,4,153,"Upper East Side,NY",Female,1956,Married,Professional,5,Japanese,Never,Socially,3,1,2.0,No
4,5,129,"Central Park,NY",Male,1997,Single,Student,4,Filipino,Socially,Never,2,4,3.0,No

Uma função que podemos utilizar para começar uma sumarização é a "describe()".
Ela calcula um conjunto de estatisticas descritivas, como "quantidade, média, desvio padrão minimo e máximo", para cada coluna numérica do dataset

In [14]:
cuisine_rating.describe()

,User ID,Area code,YOB,Budget,Food Rating,Service Rating,Overall Rating
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,141.060000,1984.830000,3.815000,3.220000,3.230000,3.225000
std,57.879185,26.130257,16.809339,1.056578,1.411226,1.526022,1.079445
min,1.000000,101.000000,1955.000000,1.000000,1.000000,1.000000,1.000000
25%,50.750000,123.000000,1971.000000,3.000000,2.000000,2.000000,2.500000
50%,100.500000,135.000000,1987.000000,4.000000,3.000000,3.000000,3.000000
75%,150.250000,158.000000,2000.000000,5.000000,5.000000,5.000000,4.000000
max,200.000000,199.000000,2009.000000,5.000000,5.000000,5.000000,5.000000

Claro que alguma informações não terá tanto uso, mas por outras já podemos tirar algumas informações como por exemplo, a pessoa mais nova registrada no dataset na coluna YOB nasceu em 2009, e a mais velha é de 1955.

As informações dos quartis também estão disponíveis, são distribuições dos nossos dados, o 50% é chamado de mediana, é a pessoa que está no meio da  coluna. 25% é quem está em 1/4 da coluna, e o 75% é quem está no 3/4 da coluna.

Para entender a coluna localidade já que estamos baseando nossa análise na região em específico, vamos verificar a frequência das localidades. A função value_counts() por si já faz uma sumarização bem interessante.

In [15]:
cuisine_rating['Location'].value_counts()

Location
St. George,NY         46
Upper East Side,NY    30
Riverdale,NY          28
Central Park,NY       24
China Town, NY        22
Market City, NY       20
Upper West Side,NY    18
Central Park,ny        8
Market City, MY        2
Cedar Hill, NY         2
Name: count, dtype: int64

Podemos notar que exatamente o dado que precisamos para análise está precisando de tratamento ou seja ele aparece de duas formas (ny e NY). Pelo escopo da aula essa etapa foi pulada por não ter muita distorção no resultado, mas decidi fazer o tratamento por conta própria, já que a falta do tratamento nos dados pode implicar em outputs diferentes.

In [18]:
cuisine_rating['Location'] = (
    cuisine_rating['Location']
    .str.strip() #removerá espaços extra no inicio ou/e fim
    .str.title() #Coloca cada palavra com inicial maiúscula
    .str.replace('Ny', 'NY', regex=False) #Faz a substituição

)

In [19]:
cuisine_rating['Location'].value_counts()

Location
St. George,NY         46
Central Park,NY       32
Upper East Side,NY    30
Riverdale,NY          28
China Town, NY        22
Market City, NY       20
Upper West Side,NY    18
Market City, My        2
Cedar Hill, NY         2
Name: count, dtype: int64

Agora podemos descobrir com mais assertividade qual é a culinária mais bem avaliada no Central Park. Para isso vamos calcular a média das avaliações agrupando por região.
Com a ajuda no Numpy vamos fazer um filtro onde queremos somente as colunas com tipos numéricos

In [20]:
cuisine_rating.select_dtypes(include=np.number)

,User ID,Area code,YOB,Budget,Food Rating,Service Rating,Overall Rating
0,1,153,2006,3,5,4,4.5
1,2,123,1991,3,1,1,1.0
2,3,122,1977,5,5,5,5.0
3,4,153,1956,5,3,1,2.0
4,5,129,1997,4,2,4,3.0
...,...,...,...,...,...,...,...
195,196,175,1982,4,1,2,1.5
196,197,170,2000,4,1,2,1.5
197,198,160,2006,5,5,2,3.5
198,199,130,2002,3,3,2,2.5
199,200,140,2005,4,3,2,2.5

Adicionamos em uma variável e transformamos em uma lista para filtrar o dataset só para isso, quando for preciso. Trata-se de uma forma de abstrair as colunas numericas, para não transformar todo o dataset em uma lista.

In [22]:
numeric_cols = cuisine_rating.select_dtypes(include=np.number).columns.to_list()

In [24]:
cuisine_rating[numeric_cols]

,User ID,Area code,YOB,Budget,Food Rating,Service Rating,Overall Rating
0,1,153,2006,3,5,4,4.5
1,2,123,1991,3,1,1,1.0
2,3,122,1977,5,5,5,5.0
3,4,153,1956,5,3,1,2.0
4,5,129,1997,4,2,4,3.0
...,...,...,...,...,...,...,...
195,196,175,1982,4,1,2,1.5
196,197,170,2000,4,1,2,1.5
197,198,160,2006,5,5,2,3.5
198,199,130,2002,3,3,2,2.5
199,200,140,2005,4,3,2,2.5

Agora podemos usar a função Groupby() para agrupar a localidade com avaliações

In [25]:
cuisine_rating.groupby(['Location'])[numeric_cols].mean()

,User ID,Area code,YOB,Budget,Food Rating,Service Rating,Overall Rating
Location,,,,,,,
"Cedar Hill, NY",141.000000,169.500000,1960.000000,4.000000,2.000000,5.000000,3.500000
"Central Park,NY",91.000000,141.562500,1990.312500,3.375000,3.343750,3.656250,3.500000
"China Town, NY",106.181818,132.500000,1983.818182,3.454545,2.681818,3.636364,3.159091
"Market City, My",82.000000,156.500000,1971.000000,1.000000,4.000000,2.000000,3.000000
"Market City, NY",104.200000,155.500000,1977.900000,3.900000,4.050000,3.400000,3.725000
"Riverdale,NY",94.071429,127.821429,1983.714286,4.285714,3.035714,3.071429,3.053571
"St. George,NY",105.086957,137.956522,1986.434783,3.978261,3.413043,2.826087,3.119565
"Upper East Side,NY",96.400000,155.200000,1985.533333,3.866667,2.966667,3.066667,3.016667
"Upper West Side,NY",109.000000,134.666667,1984.777778,4.000000,3.000000,3.277778,3.138889

Podemos ver que a avaliação média no Central Park está em 3.5. Ainda não chegamos exatamente onde queremos, que é saber a culinária mais bem avaliada no Central Park, mas estamos no caminho. Basta além de *"Location"*, adicionarmos a coluna *"Cuisines"*

In [27]:
cuisine_rating.groupby(['Location', 'Cuisines'])[numeric_cols].mean()

                                User ID   Area code          YOB    Budget  \
Location           Cuisines
Cedar Hill, NY     Indian    141.000000  169.500000  1960.000000  4.000000
Central Park,NY    Chinese    60.000000  129.000000  1995.000000  4.000000
                   Filipino   89.750000  148.750000  1983.500000  3.250000
                   French    109.666667  135.666667  1994.333333  3.666667
                   Indian     78.666667  135.166667  1991.000000  3.666667
                   Italian   115.000000  152.500000  1996.000000  4.000000
                   Japanese   98.000000  138.500000  2002.000000  2.500000
                   Seafood    80.500000  149.500000  1980.000000  3.000000
China Town, NY     Chinese    96.000000  106.500000  1976.000000  3.000000
                   Filipino  130.000000  125.000000  1998.000000  1.000000
                   French    130.500000  149.000000  1965.000000  3.500000
                   Indian     93.333333  129.333333  1983.666667  4.333333
                   Seafood   100.250000  135.000000  1991.750000  3.500000
Market City, My    Indian     82.000000  156.500000  1971.000000  1.000000
Market City, NY    Filipino   92.000000  158.000000  1967.000000  5.000000
                   French    105.000000  156.250000  1975.500000  4.000000
                   Indian    122.000000  169.000000  1977.500000  3.000000
                   Japanese  114.000000  152.333333  1981.333333  4.666667
                   Seafood    77.000000  144.750000  1981.000000  3.000000
Riverdale,NY       Chinese    77.000000  121.000000  1985.000000  4.500000
                   Filipino  104.666667  116.666667  1966.333333  4.333333
                   French    116.000000  150.500000  1975.000000  4.000000
                   Italian    81.000000  124.333333  1981.000000  3.666667
                   Japanese  105.750000  135.250000  1994.500000  4.500000
                   Seafood    67.000000  133.000000  2007.000000  5.000000
St. George,NY      Chinese    62.500000  124.000000  1984.500000  4.500000
                   Filipino  121.166667  136.083333  1991.000000  4.000000
                   French    109.500000  127.875000  1986.750000  4.500000
                   Indian     96.500000  145.625000  1987.500000  3.375000
                   Italian   101.000000  155.250000  1975.000000  2.500000
                   Japanese  107.800000  140.800000  1985.200000  4.400000
Upper East Side,NY Chinese   120.000000  159.400000  1980.000000  4.000000
                   Filipino   58.000000  159.500000  2003.000000  3.000000
                   French    101.666667  145.833333  1982.666667  3.666667
                   Indian    124.000000  172.500000  1994.000000  3.000000
                   Italian    93.000000  157.750000  1986.000000  5.000000
                   Japanese   57.666667  148.666667  1988.666667  3.666667
Upper West Side,NY Chinese   147.000000  146.000000  2000.000000  4.000000
                   Filipino  106.000000  145.500000  1991.000000  4.000000
                   French    136.000000  140.000000  1999.500000  4.000000
                   Indian     83.000000  141.500000  1995.000000  3.000000
                   Italian   110.000000  128.500000  1959.000000  5.000000
                   Japanese  112.000000  123.500000  1955.000000  4.000000
                   Seafood    75.500000  123.500000  1982.000000  4.000000

                             Food Rating  Service Rating  Overall Rating
Location           Cuisines
Cedar Hill, NY     Indian       2.000000        5.000000        3.500000
Central Park,NY    Chinese      4.500000        2.500000        3.500000
                   Filipino     2.500000        4.500000        3.500000
                   French       4.666667        3.000000        3.833333
                   Indian       2.166667        4.333333        3.250000
                   Italian      5.000000        5.000000        5.000000
                   Japanese     4.250000        4.000000        4.125000
                   Seafood      2.500000        1.500000        2.000000
China Town, NY     Chinese      2.000000        5.000000        3.500000
                   Filipino     1.000000        5.000000        3.000000
                   French       3.000000        2.000000        2.500000
                   Indian       2.333333        4.666667        3.500000
                   Seafood      3.375000        3.000000        3.187500
Market City, My    Indian       4.000000        2.000000        3.000000
Market City, NY    Filipino     5.000000        5.000000        5.000000
                   French       3.000000        2.500000        2.750000
                   Indian       3.500000        2.500000        3.000000
                   Japanese     4.500000        3.333333        3.916667
                   Seafood      4.500000        4.500000        4.500000
Riverdale,NY       Chinese      3.500000        2.000000        2.750000
                   Filipino     2.500000        2.833333        2.666667
                   French       2.000000        5.000000        3.500000
                   Italian      3.666667        3.500000        3.583333
                   Japanese     3.125000        3.500000        3.312500
                   Seafood      2.500000        1.000000        1.750000
St. George,NY      Chinese      4.000000        2.750000        3.375000
                   Filipino     2.500000        3.000000        2.750000
                   French       3.000000        2.875000        2.937500
                   Indian       3.375000        2.750000        3.062500
                   Italian      4.500000        3.000000        3.750000
                   Japanese     4.200000        2.600000        3.400000
Upper East Side,NY Chinese      3.800000        3.600000        3.700000
                   Filipino     4.500000        2.000000        3.250000
                   French       3.000000        2.000000        2.500000
                   Indian       1.000000        5.000000        3.000000
                   Italian      1.000000        2.500000        1.750000
                   Japanese     3.000000        3.333333        3.166667
Upper West Side,NY Chinese      1.000000        2.000000        1.500000
                   Filipino     3.000000        1.000000        2.000000
                   French       3.500000        4.500000        4.000000
                   Indian       3.500000        2.000000        2.750000
                   Italian      2.000000        2.000000        2.000000
                   Japanese     5.000000        5.000000        5.000000
                   Seafood      2.750000        4.250000        3.500000

Podemos ver na coluna "Overall Rating" que a culinária Japonesa está com a nota média melhor para a região do Central Park. Esse é um bom começo para aprofundar em mais detalhes, e estruturar melhor as decisões nesse novo empreendimento.
(A italiana provavelmente está com alguma inconscistência nos registros, e precisariamos aprofundar mais para entender, já que ela está com uma nota mais elevada)

Por desencargo de consciência resolvi aplicar um filtro para entender essa nota "italiana" e porque ela está tão alta. E pelo output podemos ver que ela não é confiável pois possui apenas 2 registros para a região, o que não suficiente considerando todos os registros das outras culinárias (mesmo que anota seja alta).

In [42]:
cuisine_rating[
    (cuisine_rating['Cuisines'] == 'Italian') &
    (cuisine_rating['Location'] == 'Central Park,NY')
    ]

,User ID,Area code,Location,Gender,YOB,Marital Status,Activity,Budget,Cuisines,Alcohol,Smoker,Food Rating,Service Rating,Overall Rating,Often A S
64,65,129,"Central Park,NY",Female,1996,Single,Student,4,Italian,Never,Never,5,5,5.0,No
164,165,176,"Central Park,NY",Female,1996,Single,Student,4,Italian,Never,Never,5,5,5.0,No

Podemos concluir com esse DataSet que a ***Culinária Japonesa*** é a melhor avaliada no Central Park, região onde queremos instalar nosso restaurante.